<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <h1 class="red">Hey Congratulations!!!</h1>
    <br>
    <h1>Solve this clue to reach out to next hook:{{object}}</h1>
    <p class="alert alert-danger">Please do not hit back button</p>
</body>
</html>